<template name="Login">

    {{#contentFor "headerTitle"}}
        <h1 class="title">Login</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="container tabs-content">
                <form id="login_form" class="account-form" role="form">
                    <h2>Please sign in</h2>
                    {{#if errorMessage}}
                        <div class="alert alert-warning">
                            {{errorMessage}}
                        </div>
                    {{/if}}
                    <input id="login_email" type="text" class="form-control" placeholder="Email address" required autofocus>
                    <input id="login_password" type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
                        Sign in
                    </button>
                </form>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>

