<template name="driverDashboard">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-settings'}}
            {{else}}
                {{> ionIcon icon='ios-gear'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        {{#if group}}
            <h1 class="title"> {{group.name}} </h1>
        {{else}}
            <h1 class="title"> DriveSafe </h1>
        {{/if}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <!-- TODO: REDO THIS TO ONLY ASSIGNED RIDE UP TOP AND THEN QUEUE DOWN BELOW -->
            {{#if ridesAvailable}}
                {{#each rides}}
                    {{#with rideModel}}
                        <div class="list card">
                            <div class="item">
                                <h2>{{getRideUser}}</h2>
                            </div>
                            {{#if firstRide}}
                                <div class="item item-body">
                                        <button class="button button-outline button-positive navigation-button" id="pickup-navigation-button">
                                            Take Me To Pickup Location
                                        </button>
                                        
                                        <button class="button button-outline button-positive navigation-button" id="dest-navigation-button" style="display:none;">
                                            Take Me To Drop off Location
                                        </button>

                                        <button class="button button-outline button-positive navigation-button" id="confirm-dropoff-button" style="display:none;">
                                            Passengers have been dropped off!
                                        </button>
                                    <p>
                                        <a href="#" class="subdued">{{getRideCreatedTime}}</a>
                                    </p>
                                </div>

                                <div class="item tabs tabs-secondary tabs-icon-left">
                                    <div class="tab-item">
                                        <i class="icon ion-thumbsdown"></i>
                                        Deny Ride
                                    </div>
                                </div>
                            {{/if}}
                            <!--<div class="item">
                                <h2>{{getPickupAddress}}</h2>
                            </div> -->
                        </div>
                    {{/with}}
                {{/each}}
            {{else}}
                <h1>You have no rides yet!</h1>
            {{/if}}
        {{/ionContent}}
    {{/ionView}}
    {{#ionFooterBar class="bar-assertive stopDriving"}}
        <h1 class="title">Stop Driving</h1>
    {{/ionFooterBar}}
</template>