<template name="layout">
    {{#ionBody}}
        {{# if currentUser}}
            {{#ionSideMenuContainer}}

                {{#ionSideMenus}}

                    {{#ionSideMenu}}
                        {{> leftMenu}}
                    {{/ionSideMenu}}

                    {{#ionSideMenu side="right"}}
                        {{> rightMenu}}
                    {{/ionSideMenu}}

                {{/ionSideMenus}}

                {{#ionSideMenuContent}}

                    {{> ionNavBar class="bar-positive"}}

                    {{#ionNavView}}
                        {{> yield}}
                    {{/ionNavView}}

                {{/ionSideMenuContent}}

            {{/ionSideMenuContainer}}
        {{else}}
            {{> ionNavBar class="bar-positive has-tabs-top"}}
            {{#if isAndroid}}
                {{#ionTabs style="android" class="tabs-striped tabs-top tabs-background-positive tabs-color-light"}}
                    {{> ionTab title="Login" path="login" icon="log-in"}}
                    {{> ionTab title="Register" path="register" icon="person-add"}}
                    {{> ionTab title="Forgot Password" path="forgot_password" icon="key"}}
                {{/ionTabs}}
            {{else}}
                {{#ionTabs style="ios" class="tabs-striped tabs-top tabs-background-positive tabs-color-light"}}
                    {{> ionTab title="Login" path="login" icon="log-in"}}
                    {{> ionTab title="Register" path="register" icon="person-add"}}
                    {{> ionTab title="Forgot Password" path="forgot_password" icon="key"}}
                {{/ionTabs}}
            {{/if}}
            {{>yield}}
        {{/if}}
    {{/ionBody}}
</template>
