<template name="rightMenu">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Settings</h1>
    </div>
    <div class="content has-header">
        <div class="list">
            <div class="item item-icon-left" data-ion-menu-close>
                {{> ionIcon icon="ios-arrow-left"}} Close Me
            </div>
            <div class="item item-icon-left" id="accountSettings" data-ion-menu-close>
                {{> ionIcon icon="settings"}} Account Settings
            </div>
        </div>
    </div>
</template>