<template name="_tabs">
    {{#if isAndroid}}
        {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
            {{> ionTab title="Dashboard" path="dashboard" icon="android-map"}}
            {{> ionTab title="Groups" path="/" icon="android-people"}}
            {{> ionTab title="Settings" path="user_settings" icon="gear-b"}}
            {{> ionTab title="Logout" path="logout" icon="heart"}}
        {{/ionTabs}}
    {{else}}
        {{#ionTabs style="ios"}}
            {{> ionTab title="Dashboard" path="dashboard" iconOff="ios-location-outline" iconOn="ios-location"}}
            {{> ionTab title="Groups" path="/" iconOff="ios-people-outline" iconOn="ios-people"}}
            {{> ionTab title="Settings" path="user_settings" iconOff="ios-gear-outline" iconOn="ios-gear"}}
            {{> ionTab title="Logout" path="logout" iconOff="log-out" iconOn="log-out"}}
        {{/ionTabs}}
    {{/if}}
</template>
