<template name="UserSettings">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-settings'}}
            {{else}}
                {{> ionIcon icon='ios-gear'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Account Settings</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="page-container container">
                <div class="list">
                    <div class="item item-divider">
                        Change Password
                    </div>
                    <div class="item">
                        {{> UserSettingsChangePass }}
                    </div>
                </div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>

