<template name="Dashboard">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-settings'}}
            {{else}}
                {{> ionIcon icon='ios-gear'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        {{#if group}}
            <h1 class="title"> {{group.name}} </h1>
        {{else}}
            <h1 class="title"> DriveSafe </h1>
        {{/if}}
    {{/contentFor}}


    {{#if isDriver}}
        {{> driverDashboard }}
    {{else}}
        {{> riderDashboard }}
    {{/if}}
</template>
