<template name="Dashboard">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-settings'}}
            {{else}}
                {{> ionIcon icon='ios-gear'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        {{#if currentUser.profile.group }}
            <h1 class="title">DriveSafe - {{currentUser.profile.group}} </h1>
        {{else}}
            <h1 class="title"> DriveSafe </h1>
        {{/if}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
            {{/if}}
            {{# if currentUser.profile.group }}
                {{#if mapIsLoaded}}
                    {{> mapCanvas}}
                {{else}}
                    <div class="loading">
                        {{> loading }}
                    </div>
                {{/if}}
            {{else}}
                <div class="no-group">
                    You must join a group to request a ride.
                </div>
            {{/if}}
        {{/ionContent}}
    {{/ionView}}
    {{#if currentUser.profile.group }}
        {{#ionFooterBar class="bar-energized requestRide" data-ion-modal="request_modal" }}
            
            <h1 class="title">Request Ride!</h1>
            <button id="request_button" class="button button-large button-stable" data-ion-modal="request_modal">Open Modal</button>
        {{/ionFooterBar}}

    {{/if}}
</template>

<template name="mapCanvas">
        <div id="map-canvas" class="map-canvas"></div>
</template>
