<template name="driverDashboard">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-settings'}}
            {{else}}
                {{> ionIcon icon='ios-gear'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        {{#if group}}
            <h1 class="title"> {{group.name}} </h1>
        {{else}}
            <h1 class="title"> DriveSafe </h1>
        {{/if}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <p>I'm a driver!</p>
        {{/ionContent}}
    {{/ionView}}
    {{#ionFooterBar class="bar-assertive stopDriving"}}
        <h1 class="title">Stop Driving</h1>
    {{/ionFooterBar}}
</template>