<template name="leftMenu">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Menu</h1>
    </div>
    <div class="content has-header">
        <div class="list">
            <div id="dashboardButton" class="item item-icon-right" data-ion-menu-close>
                Dashboard {{> ionIcon icon="map"}}
            </div>

            <div id="logoutButton" class="item item-icon-right" data-ion-menu-close>
                Logout {{> ionIcon icon="log-out"}}
            </div>

            {{#if currentUser.profile.group}}
                <div id="leaveGroup" class="item item-icon-right">
                    Leave {{currentUser.profile.group}} {{> ionIcon icon="minus-circled"}}
                </div>
            {{else}}
                <div id="joinGroupButton" class="item item-icon-right">
                    Join Group {{> ionIcon icon="android-people"}}
                </div>
                <div id="createGroupButton" class="item item-icon-right">
                    Create Group {{> ionIcon icon="plus-circled"}}
                </div>
            {{/if}}

            <div class="item item-icon-right" data-ion-menu-close>
                Close Me {{> ionIcon icon="ios-arrow-right"}}
            </div>
        </div>
    </div>
</template>