<template name="Login">

    {{#contentFor "headerTitle"}}
        <h1 class="title">Login</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="container tabs-content">
                <form id="login_form" class="form" role="form">
                    {{#if errorMessage}}
                        <div class="alert alert-warning">
                            {{errorMessage}}
                        </div>
                    {{/if}}
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Email</span>
                            <input id="login_email" type="text" placeholder="Email address" required>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Password</span>
                            <input id="login_password" type="password" placeholder="Password" required>
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
                        Sign in
                    </button>
                </form>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>

